/*logo.css*/

:root{
	--debug-color: #673AB7;

	--white: #f7f7f7;
	--black: #2d2727;
	--real-black: #1E1E1E;
	--logop-blue: #92c1aa;
	--light-blue: #93c2ab;
	--green: #00E676;
	--orange: #F57F17;
	--rouge: #B71C1C;
}

.logos{
	height: 30vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.square-box{
	height: 25vh;
	margin: 0 20px;
	width: 25vh;
	transition: all 0.3s ease-out;
}

.square-box:hover{
	cursor: pointer;
	filter: saturate(150%);
}